<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmy.apkdownmanager" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <application>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileproviderpath"/>
        </provider>
    </application>
</manifest>

